doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')
    link(rel='apple-touch-icon', href='/images/iphone.png')
    title Wemo Control
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    .header
      h1.page-title Lights
    
    .main-content
      block content
      form(name='ActionButtons', action='', method='post')
      
      div.button-group 
        h2.group-title Main
        div.btn.single.on(id='btnMainOn', onclick='setstate("http://192.168.1.253","1","Main");')
          span On
        div.btn.single.off(id='btnMainOff', onclick='setstate("http://192.168.1.253","0", "Main");')
          span Off

      div.button-group
        h2.group-title Lamp
        div.btn.single.on(id='btnLampOn', onclick='setstate("http://192.168.1.68","1","Lamp");')
          span On
        div.btn.single.off(id='btnLampOff', onclick='setstate("http://192.168.1.68","0", "Lamp");')
          span Off
      
      
      div.button-group 
        h2.group-title All
        div.btn.on(id='btnAllOn', value='On', onclick='changeAll("1");')
          span On
        div.btn.off(id='btnAllOff', value='Off', onclick='changeAll("0");')
          span Off

      script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
      script(src="/scripts/script.js")